%h1 Listing developers

%table
  %thead
    %tr
      %th Nome
      %th Descr
      %th
      %th
      %th

  %tbody
    - @developers.each do |developer|
      %tr
        %td= developer.nome
        %td= developer.descr
        %td= link_to 'Show', developer
        %td= link_to 'Edit', edit_developer_path(developer)
        %td= link_to 'Destroy', developer, method: :delete, data: { confirm: 'Are you sure?' }

%br
-if current_user.admin?
  = link_to 'New Developer', new_developer_path
