%p#notice= notice

%p
  %b Nome:
  = @developer.nome
%p
  %b Descr:
  = @developer.descr
  
-if current_user.admin?
  = link_to 'Edit', edit_developer_path(@developer)
\|
= link_to 'Back', developers_path
