%h1 Listing games

%table
  %thead
    %tr
      %th Nome
      %th Score
      %th
      %th
      %th

  %tbody
    - @games.each do |game|
      %tr
        %td= game.nome
        %td= game.score
        %td= link_to 'Show', game
        -if current_user.admin?
          %td= link_to 'Edit', edit_game_path(game)
          %td= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }

%br
-if current_user.admin?
  = link_to 'New Game', new_game_path
