%h1 New Game
%p
 = form_with scope: :game, url: games_path, local: true  do |f|
  = f.label :nome
  = f.text_field :nome
  = f.label :dev
  = f.text_field :dev
  = f.label :pub  
  = f.text_field :pub
  = f.label :platform
  = f.text_field :platform
  = f.submit
