%h1 Listing oreviews
%table
  %thead
    %tr
      %th Titulo
      %th Score
      %th Review
      %th
      %th
      %th

  %tbody
    - @oreviews.each do |oreview|
      %tr
        %td= oreview.titulo
        %td= oreview.score
        %td= oreview.review
        %td= oreview.game_id
        %td= link_to 'Show', oreview
        %td= link_to 'Edit', edit_oreview_path(oreview)
        %td= link_to 'Destroy', oreview, method: :delete, data: { confirm: 'Are you sure?' }

%br
-if current_user.admin?
  = link_to 'New Oreview', new_oreview_path
