%p#notice= notice

%p
  -if @oreview
    - @oreviews.select{ |p| p[:game_id] == @id.to_i }.each do |i|
      %b Game:
      - c = Game.find(i.game_id).nome
      = c
   
      %p
        %b Titulo:
        = i.titulo
      %p
        %b Score:
        = i.score
      %p
        %b Review:
        = i.review

      = link_to 'Edit', edit_oreview_path(@oreview)
      \|
      = link_to 'Back', :controller => 'games', :action => 'show', :id => @oreview.game_id
  -else
    %b Este Jogo ainda não possui uma review oficial
