%h1 Listing public reviews

%p
  %b Game:
  - c = Game.find(@id).nome
  = c
  
%p
  %b Public Score:
  - x = 0
  - m = 0
  - @previews.select{ |p| p[:game_id] == @id.to_i }.each do |preview|
    -x+=1
    -m+=preview.score
  -if x>0
    =m/x
  -else
    =0
  
%table
  %thead
    %tr
      %th Titulo
      %th Score
      %th Review
      %th 
      %th
      %th
  %tbody
    - @previews.select{ |p| p[:game_id] == @id.to_i }.each do |preview|
      %tr
        %td= preview.titulo
        %td= preview.score
        %td= preview.review
        %td= preview.game_id
        %td= link_to 'Show', preview
        -if current_user.id == preview.id
          %td= link_to 'Edit', edit_preview_path(preview)
          %td= link_to 'Destroy', preview, method: :delete, data: { confirm: 'Are you sure?' }

%br
