%h1 Listing previews
%p
  %b Game:
  - c = Game.find(@id).nome
  = c
  
%table
  %thead
    %tr
      %th Titulo
      %th Score
      %th Review
      %th
      %th
      %th

  %tbody
    - @previews.each do |preview|
      %tr
        %td= preview.titulo
        %td= preview.score
        %td= preview.review
        %td= preview.game_id
        %td= link_to 'Show', preview
        %td= link_to 'Edit', edit_preview_path(preview)
        %td= link_to 'Destroy', preview, method: :delete, data: { confirm: 'Are you sure?' }

%br
